#!/usr/bin/env bash

cd {{ nextcloud_dir }}
chown -R {{ web_user }}:{{ web_user }} {{ data_dir }}
cp -P /var/tmp/nextcloud/data/.ocdata {{ data_dir }}
sudo -u {{ web_user }} php occ   config:import   ~{{ web_user }}/{{ NEXTCLOUD_CONF }}
