{{ fs_group_prefix }}-BENCH-DEBS-R:{{ ocs_share_root }}/CRC/bench:1
{{ fs_group_prefix }}-BENCH-DEBS-RW:{{ ocs_share_root }}/CRC/bench:15
{{ fs_group_prefix }}-BGSW-DEBS-RW:{{ ocs_share_root }}/CRC/bgsw:15
{{ fs_group_prefix }}-CGM-DEBS-RW:{{ ocs_share_root }}/CRC/cgm:15
{{ fs_group_prefix }}-CL-DEBS-R:{{ ocs_share_root }}/CRC/cl:1
{{ fs_group_prefix }}-CL-DEBS-RW:{{ ocs_share_root }}/CRC/cl:15
{{ fs_group_prefix }}-DDC-DEBS-R:{{ ocs_share_root }}/CRC/ddc:1
{{ fs_group_prefix }}-DDC-DEBS-RW:{{ ocs_share_root }}/CRC/ddc:15
{{ fs_group_prefix }}-DLNR-DEBS-R:{{ ocs_share_root }}/CRC/dlnr:1
{{ fs_group_prefix }}-DLNR-DEBS-RW:{{ ocs_share_root }}/CRC/dlnr:15
{{ fs_group_prefix }}-DTV-DEBS-R:{{ ocs_share_root }}/CRC/dtv:1
{{ fs_group_prefix }}-DTV-DEBS-RW:{{ ocs_share_root }}/CRC/dtv:15
{{ fs_group_prefix }}-Essex-DEBS-R:{{ ocs_share_root }}/CRC/essex:1
{{ fs_group_prefix }}-Essex-DEBS-RW:{{ ocs_share_root }}/CRC/essex:15
{{ fs_group_prefix }}-HLNY-DEBS-R:{{ ocs_share_root }}/CRC/hlny:1
{{ fs_group_prefix }}-HLNY-DEBS-RW:{{ ocs_share_root }}/CRC/hlny:15
{{ fs_group_prefix }}-Hampshire-DEBS-RW:{{ ocs_share_root }}/CRC/hampshire:15
{{ fs_group_prefix }}-KSS-DEBS-RW:{{ ocs_share_root }}/CRC/kss:15
{{ fs_group_prefix }}-LONDON-DEBS-R:{{ ocs_share_root }}/CRC/london:1
{{ fs_group_prefix }}-LONDON-DEBS-RW:{{ ocs_share_root }}/CRC/london:15
{{ fs_group_prefix }}-MISC-DEBS-R:{{ ocs_share_root }}/CRC/misc:1
{{ fs_group_prefix }}-MISC-DEBS-RW:{{ ocs_share_root }}/CRC/misc:15
{{ fs_group_prefix }}-Merseyside-DEBS-RW:{{ ocs_share_root }}/CRC/merseyside:15
{{ fs_group_prefix }}-NS-DEBS-R:{{ ocs_share_root }}/CRC/ns:1
{{ fs_group_prefix }}-NS-DEBS-RW:{{ ocs_share_root }}/CRC/ns:15
{{ fs_group_prefix }}-Northumbria-DEBS-RW:{{ ocs_share_root }}/CRC/northumbria:15
{{ fs_group_prefix }}-SWM-DEBS-R:{{ ocs_share_root }}/CRC/swm:1
{{ fs_group_prefix }}-SWM-DEBS-RW:{{ ocs_share_root }}/CRC/swm:15
{{ fs_group_prefix }}-South-Yorkshire-DEBS-R:{{ ocs_share_root }}/CRC/south-yorkshire:1
{{ fs_group_prefix }}-South-Yorkshire-DEBS-RW:{{ ocs_share_root }}/CRC/south-yorkshire:15
{{ fs_group_prefix }}-Thames-DEBS-R:{{ ocs_share_root }}/CRC/thames:1
{{ fs_group_prefix }}-Thames-DEBS-RW:{{ ocs_share_root }}/CRC/thames:15
{{ fs_group_prefix }}-WWM-DEBS-RW:{{ ocs_share_root }}/CRC/wwm:15
{{ fs_group_prefix }}-Wales-DEBS-RW:{{ ocs_share_root }}/CRC/wales:15
{{ fs_group_prefix }}-West-Yorkshire-DEBS-R:{{ ocs_share_root }}/CRC/west-yorkshire:1
{{ fs_group_prefix }}-West-Yorkshire-DEBS-RW:{{ ocs_share_root }}/CRC/west-yorkshire:15
{{ fs_group_prefix }}-EPP-NPS-R:{{ ocs_share_root }}/NPS/EPP:1
{{ fs_group_prefix }}-EPP-NPS-RW:{{ ocs_share_root }}/NPS/EPP:15
{{ fs_group_prefix }}-London-NPS-R:{{ ocs_share_root }}/NPS/London:1
{{ fs_group_prefix }}-London-NPS-RW:{{ ocs_share_root }}/NPS/London:15
{{ fs_group_prefix }}-PPAS-NPS-R:{{ ocs_share_root }}/NPS/PPAS:1
{{ fs_group_prefix }}-PPAS-NPS-RW:{{ ocs_share_root }}/NPS/PPAS:15
{{ fs_group_prefix }}-SouthWestandSouthCentral-NPS-R:{{ ocs_share_root }}/NPS/SouthWestandSouthCentral:1
{{ fs_group_prefix }}-SouthWestandSouthCentral-NPS-RW:{{ ocs_share_root }}/NPS/SouthWestandSouthCentral:15
{{ fs_group_prefix }}-Wales-NPS-R:{{ ocs_share_root }}/NPS/Wales:1
{{ fs_group_prefix }}-Wales-NPS-RW:{{ ocs_share_root }}/NPS/Wales:15
{{ fs_group_prefix }}-CFO-R:{{ ocs_share_root }}/National/cfo:1
{{ fs_group_prefix }}-MIS-R:{{ ocs_share_root }}/nart:15
{{ fs_group_prefix }}-MIS-R:{{ ocs_share_root }}/CRC:1
{{ fs_group_prefix }}-MIS-R:{{ ocs_share_root }}/NPS:1
{{ fs_group_prefix }}-MIS-R:{{ ocs_share_root }}/National:1
{{ fs_group_prefix }}-WMT-RW:{{ ocs_share_root }}/nart:15
{{ fs_group_prefix }}-WMT-RW:{{ ocs_share_root }}/CRC:15
{{ fs_group_prefix }}-WMT-RW:{{ ocs_share_root }}/NPS:15
{{ fs_group_prefix }}-WMT-RW:{{ ocs_share_root }}/National:15
{{ fs_group_prefix }}-N50-GreaterManchester-NPS-R:{{ ocs_share_root }}/NPS/GreaterManchester:1
{{ fs_group_prefix }}-N50-GreaterManchester-NPS-RW:{{ ocs_share_root }}/NPS/GreaterManchester:15
{{ fs_group_prefix }}-N51-NorthWest-NPS-R:{{ ocs_share_root }}/NPS/NorthWest:1
{{ fs_group_prefix }}-N51-NorthWest-NPS-RW:{{ ocs_share_root }}/NPS/NorthWest:15
{{ fs_group_prefix }}-N52-WestMidlands-NPS-R:{{ ocs_share_root }}/NPS/WestMidlands:1
{{ fs_group_prefix }}-N52-WestMidlands-NPS-RW:{{ ocs_share_root }}/NPS/WestMidlands:15
{{ fs_group_prefix }}-N53-EastMidlands-NPS-R:{{ ocs_share_root }}/NPS/EastMidlands:1
{{ fs_group_prefix }}-N53-EastMidlands-NPS-RW:{{ ocs_share_root }}/NPS/EastMidlands:15
{{ fs_group_prefix }}-N54-NorthEast-NPS-R:{{ ocs_share_root }}/NPS/NorthEast:1
{{ fs_group_prefix }}-N54-NorthEast-NPS-RW:{{ ocs_share_root }}/NPS/NorthEast:15
{{ fs_group_prefix }}-N55-YorkshireandHumberside-NPS-R:{{ ocs_share_root }}/NPS/YorkshireAndTheHumber:1
{{ fs_group_prefix }}-N55-YorkshireandHumberside-NPS-RW:{{ ocs_share_root }}/NPS/YorkshireAndTheHumber:15
{{ fs_group_prefix }}-N56-EastofEngland-NPS-R:{{ ocs_share_root }}/NPS/EastofEngland:1
{{ fs_group_prefix }}-N56-EastofEngland-NPS-RW:{{ ocs_share_root }}/NPS/EastofEngland:15
{{ fs_group_prefix }}-SouthEastandEastern-NPS-R:{{ ocs_share_root }}/NPS/EastofEngland:1
{{ fs_group_prefix }}-SouthEastandEastern-NPS-RW:{{ ocs_share_root }}/NPS/EastofEngland:15
{{ fs_group_prefix }}-N57-KentSurreyandSussex-NPS-R:{{ ocs_share_root }}/NPS/KentSurreyandSussex:1
{{ fs_group_prefix }}-N57-KentSurreyandSussex-NPS-RW:{{ ocs_share_root }}/NPS/KentSurreyandSussex:15
{{ fs_group_prefix }}-N58-SouthWest-NPS-R:{{ ocs_share_root }}/NPS/SouthWest:1
{{ fs_group_prefix }}-N58-SouthWest-NPS-RW:{{ ocs_share_root }}/NPS/SouthWest:15
{{ fs_group_prefix }}-N59-SouthCentral-NPS-R:{{ ocs_share_root }}/NPS/SouthCentral:1
{{ fs_group_prefix }}-N59-SouthCentral-NPS-RW:{{ ocs_share_root }}/NPS/SouthCentral:15
{{ fs_group_prefix }}-N03-Wales-NPS-R:{{ ocs_share_root }}/NPS/Wales:1
{{ fs_group_prefix }}-N03-Wales-NPS-RW:{{ ocs_share_root }}/NPS/Wales:15
{{ fs_group_prefix }}-N07-London-NPS-R:{{ ocs_share_root }}/NPS/London:1
{{ fs_group_prefix }}-N07-London-NPS-RW:{{ ocs_share_root }}/NPS/London:15
