[global]
        workgroup = {{ workgroup }}
        netbios name = {{ netbios_name}}
        security = {{ security }}
        passdb backend = {{ passdb_backend }}
        printing = cups
        printcap name = cups
        load printers = yes
        cups options = raw
        dfree command = {{ dfree_destination }}
        dfree cache time = {{ dfree_cache_time }}
        log file = {{ smb_log_file }}
        log level = 1
        max log size = {{ max_log_size }}
        force create mode = 0770
        force user = {{ web_user }}
        force group = {{ web_user }}

[Secure]
        comment = {{ app_name }} File Share
        path = {{ data_dir}}{{ nextcloud_admin }}/{{ share_files_root }}
        valid users = @smbgrp
        guest ok = no
        writable = yes
        browsable = yes
